.body {
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 100%;
    background-color: #171717;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inner-wrapper {
    display: flex;
    background-color: #171717;
   width: 1460px;
    flex-direction: column;
    justify-content: center;

}

.header {
    width: 1460px;
    height: 50px;
}

.items {
    margin-top: 47px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.item {
    color: #E4B564;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obr {
    margin-left: 15px;
}

.item-border {
    display: flex;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1182px;
    margin-top: 128px;
}

.Text-title {
    width: 599px;
    height: 28px;
    left: 230px;
    top: 207px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.text {
    width: 1182px;
    height: 56px;
    left: 230px;
    top: 276px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.grid1 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 215px);
    grid-template-rows: 468px 468px;
    gap: 34px;
    grid-template-areas:
   "left left middle middle right right"
   "bot-left bot-left bot-left bot-right bot-right bot-right";

}

.grid1-item {
    background: #634F2C;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 44px;
}

.grid1-item1 {
    grid-area: left;
    background: #634F2C;

}

.grid1-item2 {
    grid-area: middle;
    background: #B4A385;

}

.grid1-item3 {
    grid-area: right;
    background: #E4B564;

}

.grid1-item4 {
    grid-area: bot-left;
    background: #635A4A;

}

.grid1-item5 {
    grid-area: bot-right;
    background: #B08C4D;

}

.grid1-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.title-2 {
    margin-top: 161px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    width: 977px;
    height: 28px;
}

.grid-container {
    height: 870px;
    display: grid;
    grid-template-columns: repeat(3, 466px);
    padding: 0;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-rows: repeat(22, 1fr);
    grid-template-areas:
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b f"
    "a b f"
    "d b f"
    "d b f"
    "d b f"
    "d e f"
    "d e f"
    "d e f"
    "d e h"
    "d e h"
    "d e h"
    "d e h"
    "d e h"
    "d e h"
    "d e h"
    "d . h";

}

.grid-list {
    list-style: none;
    margin: 0;
}

.grid-list1 {
    grid-area: a;
    background: #0E0E0E;

}

.grid-list2 {
    grid-area: b;
    background: #242424;

}

.grid-list3 {
    grid-area: c;
    background: #1F1F1F;

}

.grid-list4 {
    grid-area: d;
    background: #1F1F1F;

}

.grid-list5 {
    grid-area: e;
    background: #E4B564;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: black;


}

.grid-list6 {
    grid-area: f;
    background: #0E0E0E;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.grid-list8 {
    grid-area: h;
    background: #0A0909;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: white;

}

.grid-item0 {
    margin-left: 48px;
    margin-top: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.span {
    font-weight: bold;
}

.footer-container {
    display: flex;
    width: 100%;
    background: #0E0E0E;
    align-items: center;
    flex-direction: column;
}

.footer-title-container {
    display: flex;
    margin-top: 170px;
    width: 1460px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    color: #E4B564;
}

.footer-grid-container  {
    margin-top: 72px;
    width: 1460px;
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    grid-template-areas: "x y z"
    "w k n";
}

.footer-grid-item1 {
    grid-area: x;
    background: #634F2C;

}

.footer-grid-item2 {
    grid-area: z;
    background: #E4B564;

}

.footer-grid-item3 {
    grid-area: k;
    background: #B08C4D;

}

.footer-grid-item4 {
    grid-area: n;
    background: #634F2C;

}

.footer-grid-item5 {
    grid-area: y;
    background: #E8D2ABC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

}

.footer-grid-item6 {
    grid-area: w;
    background: #635A4A;

}
.none   {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-span {
 font-weight: bold;
}

.button-link {
    height: 100%;
    width: 100%;
}